* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body{
	background-color: #ffffff;
	font-size: 110%;
	font-family: Arial, sans-serif;
	line-height: 20px;
	text-align: left;
	overflow:auto;
	margin: 0 auto;
	width:50%;
	border: 1px solid #656565;
    min-height: 100%;
    position: relative;
}

header{
	background-color: #999999;
}

h1{
	color: #FFFFFF;
	padding-top: 20px;
    padding-bottom: 25px;
	padding-left: 50px;
    margin: 0px;
    font-size: 1.5em;
}

a{
	text-decoration: none;
}

a:hover, a:active{
	background-color:#CF5C3F;
	color:#ffffff;
}
nav{
	background-color: #666666;
    padding-left: 25px;
}

nav a:link,  nav a:visited, nav #lang{
	color: #FFFFFF;
	display: inline-block;
	padding: 11px 25px;
}

nav a:hover, nav a:active, nav .active a:link, nav .active a:visited{
	background-color:#CF5C3F;
	text-shadow: none;
}

nav a{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

nav #lang{
    float:right; 
    cursor: hand;
    cursor: pointer;
}
nav #lang span:hover{
    background-color: #cf5c3f;
}


section {
    clear: both;
    padding: 0px 10px 50px 10px;
}

.img{
	text-align: center;
	width: 100%;
}

form{
	max-width: 600px;
	margin: 20px auto 5px auto;
	padding: 5px;
}

form div{
	margin: 15px;
}

fieldset {
    margin-bottom: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

label, input{
	display: block;
	color: #797979;
}

input{
	width: 100%;
	height: 30px;
	font-size: 1em;
}

input[type="checkbox"] {
    display: inline;
    width: auto;
    height:auto;
}


.name_species {
	font-style: italic;
	color: #797979;
    margin-bottom: 5px;
    margin-top: 5px;
}

.error{
	color: red;
	display: none;
	font-style: italic;
}

.warning{
	color: green;
	display: none;
	font-style: italic;
}

.btn {
	display: inline-block;
	border: none;
	padding: 0;
    margin: 2px 5%;
	cursor: pointer;
	background-color: #faebd7;
	transition: 0.3s;
	height: 50px;
	width: 175px;
	font-size: 1.1em;
	color: #CF5C3F;
    line-height: 50px;
}

a.btn, a.btn:visited, a.btn:hover {
    width: 250px;
    color: #CF5C3F;
    background-color: #faebd7;
}

.parasitemia{
	font-weight: bold;
	color: black;
}

.actions {
    text-align: center;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
    padding-right: 10px;
	text-align: right;
	color: #FFFFFF;
    font-style: italic;
    background-color: #999999;
}


footer a:link, a:visited{
	color:#FFFFFF;
}


footer a:hover, a:active{
    background-color: #999999;
	color:#CAC6C6;
}
/*****************************************************************************
 * for mobile app
*******************************************************************************/
@media only screen and (max-width:800px){

	body{
		width: 100%;
	}

    h1{
        color: #FFFFFF;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
    }

    nav{
        padding-left: 10px;
    }
    
    nav a:link,  nav a:visited{
        padding: 11px 10px;
    }
    
	form{
	    margin: 10px auto;
		padding: 1%;
	}

    form div{
        margin: 5px;
    }

	input, select {
		width: 97%;
	}

	.btn{
		margin-top: 10px;
        margin-bottom: 7px;
        margin-right: 0px;
		height: 40px;
        line-height: 40px;
		width: 75%;
		border-radius: 5px;
	}
    
    .field_thin_smear, .field_quality_control, .export {
        display : none;
    }

}

/*****************************************************************************
 * for printing
*******************************************************************************/
@media only print {

    html{
        height: 85%
    }

	body{
		width: 100%;
        border: 0px;
	}
    
h1{
	color: #FFFFFF;
	padding: 10px 0px 0px 30px;
    margin: 0px;
    font-size: 1em;
}

    nav{
        display: none;
    }
    
    button{
        display: none;
    }
}
