body{
	background-color: #fff;
	background-position: 0% 0;
	font-size: 87.5%; /* La taille de est 14px */
	font-family: "Myriad Pro", Arial, sans-serif;
	line-height: 20px;
	text-align: left;
	overflow:auto;
}

.contenu_principal{
	border: 1px solid #656565;
	-moz-box-shadow: 05px 05px 5px 0px #656565;
	-webkit-box-shadow: 05px 05px 5px 0px #656565;
	-o-box-shadow: 05px 05px 5px 0px #656565;
	box-shadow: 05px 05px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
}
section{
	margin: 2%;
}

.formulaire{
	border: 1px solid #999999;
	max-width: 500px;
	margin: 20px auto 20px auto;
	padding: 20px;
	box-shadow: #666666;
	border-radius: 5px;
}

.img{
	text-align: center;
	width: 100%;
}

.footer{
	font-size: 16px;
	margin: 6px;
	text-align: right;
	color: #797979;
	font-weight: bold;
}

#info_nb_parasite, #info_nb_wbc, #info_nb_wbc_blood{
	margin-left: 30px;
	color: red;
	display: block;
	font-style: italic;
}


.frmTraitement div{
	margin: 20px;
}

#button_compute, #button_reset{
	border: none;
	padding: 0;
	margin-top: 20px;
	cursor: pointer;
	background-color: antiquewhite;
	transition: 0.3s;
	height: 50px;
	width: 175px;
	margin-bottom:  20px;
	font-size: 1.5em;
	color: #CF5C3F;
}


label{
	display: block;
	margin-left: 30px;
	color: #797979;
	font-size: 18px;
}

input{
	width: 83%;
	height: 30px;
	margin-left: 30px;
	font-size: 18px;
	color: #797979;
}

#input_parasitemia, #label_parasitemia{
	font-weight: bold;
	color: black;
}


h1{
	color: #FFFFFF;
	margin-top: 20px;
	margin-left: 48px;
}

a{
	text-decoration: none;
}

a:link, a:visited{
	color:#CF5C3F;
}

a:hover, a:active{
	background-color:#CF5C3F;
	color:#FFF;
}

.body{
	margin: 0 auto;
	width:50%;
	clear: both;
}

.entete_principal{
	background-color: #999999;
	height: 125px;
	border: 1px solid #999999;
}

.entete_principal nav{
	background-color: #666;
	height: 40px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 48px auto;
}

.entete_principal nav ul {
	list-style: none;
	margin: 0 auto;
}

.entete_principal nav ul li {
	float: left;
	display: inline;
}

.entete_principal nav a:link, .entete_principal nav a:visited{
	color: #FFF;
	display: inline-block;
	padding: 11px 25px;
	height:18px;
}

.entete_principal nav a:hover, .entete_principal nav a:active,
.entete_principal nav .active a:link, .entete_principal nav .active a:visited{
	background-color:#CF5C3F;
	text-shadow: none;
}

.entete_principal nav ul li a{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.Contenu_Principal{
	line-height: 25px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}


/*****************************************************************************
 * for mobile app
*******************************************************************************/
@media only screen and (min-width: 320px) and (max-width:800px){

	body{
		background-color: #fff;
		background-position: 0% 0;
		font-size: 87.5%; /* La taille de est 14px */
		font-family: "Myriad Pro", Arial, sans-serif;
		line-height: 20px;
		text-align: left;
	}

	.body{
		margin: 0 auto;
		clear: both;
		width: 100%;
	}

	.entete_principal{
		height: 100px;
	}

	.entete_principal nav{
		margin: 21px auto;
	}


	.lbldensitePara{
		font-size: 13.4px;
	}


	label, input{
		font-size: 16px;
		margin-left: 1%;
	}

	input{
		width: 97%;
	}

	.formulaire{
		margin: 10px auto 20px auto;
		padding: 1%;
	}

	.frmTraitement div{
		margin: 2px;
	}

	#info_nb_parasite, #info_nb_wbc, #info_nb_wbc_blood{
		margin-left: 1%;
	}

	.actions{
		text-align: center;
	}
    
	#button_compute, #button_reset{
		margin-top: 10px;
		height: 50px;
		width: 75%;
		margin-bottom: 7px;
		border-radius: 5px;

		-moz-box-shadow: 02px 02px 2px 0px #656565;
		-webkit-box-shadow: 02px 02px 2px 0px #656565;
		-o-box-shadow: 02px 02px 2px 0px #656565;
		box-shadow: 02px 02px 2px 0px #656565;
	}


	.contenu_principal{
		border: 1px solid #656565;
		-moz-box-shadow: 05px 05px 5px 0px #656565;
		-webkit-box-shadow: 05px 05px 5px 0px #656565;
		-o-box-shadow: 05px 05px 5px 0px #656565;
		box-shadow: 05px 05px 5px 0px #656565;

		line-height: 15px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;

		filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
	}

}
