<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.fongwama.densitepara"
        versionCode = "10" 
        version     = "1.0.4" >
    <!-- versionCode is optional and Android only -->
    

    <name>DensitePara</name>

    <description>
        Calcul de la densite parasitaire. 
    </description>

    <author href="http://www.fongwama.com" email="support@fongwama.com">
        Fongwama 
    </author>

    <!-- build only for android -->
    <platform name="android" />

    <!-- icon -->
    <icon src="icon.png" />


    <!-- no permission required -->
    <preference name="permissions" value="none"/>


    <!-- splash screen -->
    <preference name="SplashScreen" value="splash" />
    <preference name="SplashScreenDelay" value="10000" />
    <splash src="splash.png" />
    <splash platform="android" qualifier="port-ldpi" src="res/screen/android/screen-ldpi-portrait.png" />
    <splash platform="android" qualifier="port-mdpi" src="res/screen/android/screen-mdpi-portrait.png" />
    <splash platform="android" qualifier="port-hdpi" src="res/screen/android/screen-hdpi-portrait.png" />
    <splash platform="android" qualifier="port-xhdpi" src="res/screen/android/screen-xhdpi-portrait.png" />

</widget>

