.box
{
	border: 2px solid black;
	margin: 0 auto;
	width: 400px;
	padding: 10px;
}
.label-style
{
	text-transform: uppercase;
	margin-bottom: 5px;
	margin-top: 5px;

	display: inline-block;
}
.box-style
{
	border-radius: 5px;
	height: 35px;
	width: 350px;
	font-size: 14px;
}
.btn-style
{
	height: 30px;
 }

.h2-style
{
	text-align: center;
}
.classErreur
{
	border: 1px red solid;
}

.classCorrecte
{
	border: 0px greenyellow solid;
}