body{
	background-color: #fff;
	background-position: 0% 0;
	font-size: 87.5%; /* La taille de est 14px */
	font-family: "Myriad Pro", Arial, sans-serif;
	line-height: 20px;
	text-align: left;
	overflow:auto;
}

.contenu_principal{
	border: 1px solid #656565;
	-moz-box-shadow: 05px 05px 5px 0px #656565;
	-webkit-box-shadow: 05px 05px 5px 0px #656565;
	-o-box-shadow: 05px 05px 5px 0px #656565;
	box-shadow: 05px 05px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
}
section{
	margin: 2%;
}

.formulaire{
	border: 1px solid #999999;
	max-width: 500px;
	margin: 20px auto 20px auto;
	padding: 20px;
	box-shadow: #666666;
	border-radius: 5px;
}

.img{
	text-align: center;
	width: 100%;
}

.date_time{
	font-size: 20px;
	margin: 40px 10px 5px 10px; /** Respectivement top, right, bottom, left**/
}

.page_content{
	height: 600px;
	font-size: 16px;
	font-family: "Myriad Pro", Arial, sans-serif;
}

#fongwama{
	color: #797979;
	float: right;

}

.pied_page{
	text-align: right;
	margin: 10px;
	color:#797979;
}

.copyright{

}

#date_heure{
	font-size: 20px;
	color: #CF5C3F;
	font-weight: bold;
}

#infoNbreParasite, #infoNbreGlobuleBlanc, #infoNbreGloBlancSang{
	margin-left: 30px;
	color: red;
	display: block;
	font-style: italic;
}

.frmTraitement{
	margin: 20px auto 20px auto;
	/*border: 1px solid red;*/
}

.frmTraitement div{
	margin: 20px;
}

#calculer, #reinitialiser{
	border: none;
	padding: 0;
	margin-top: 20px;
	cursor: pointer;
	background-color: antiquewhite;
	transition: 0.3s;
	height: 50px;
	width: 175px;
	margin-bottom:  20px;
	font-size: 1.5em;
	color: #CF5C3F;
}

em{
	font-weight: bold;
}

label{
	display: block;
	margin-left: 30px;
	color: #797979;
	font-size: 18px;
}

#densite{
	font-weight: bold;
	font-size: 4em;
	color: red;
}

input{
	width: 83%;
	height: 30px;
	margin-left: 30px;
	font-size: 18px;
	color: #797979;
}

.div_resultat {
	/*border: 1px solid magenta;*/
	text-align: center;
	height: 125px;
}
.lbldensitePara{
	font-size: 2em;
	font-weight: bold;
	margin-bottom:30px;
}
h1{
	color: #FFFFFF;
	margin-top: 20px;
	margin-left: 48px;
}

a{
	text-decoration: none;
}

a:link, a:visited{
	color:#CF5C3F;
}

a:hover, a:active{
	background-color:#CF5C3F;
	color:#FFF;
}

.body{
	margin: 0 auto;
	width:50%;
	clear: both;
}

.entete_principal{
	background-color: #999999;
	height: 125px;
	border: 1px solid #999999;
}

.entete_principal nav{
	background-color: #666;
	height: 40px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 48px auto;
}

.entete_principal nav ul {
	list-style: none;
	margin: 0 auto;
}

.entete_principal nav ul li {
	float: left;
	display: inline;
}

.entete_principal nav a:link, .entete_principal nav a:visited{
	color: #FFF;
	display: inline-block;
	padding: 11px 25px;
	height:18px;
}

.entete_principal nav a:hover, .entete_principal nav a:active, 
.entete_principal nav .active a:link, .entete_principal nav .active a:visited{
	background-color:#CF5C3F;
	text-shadow: none;
}

.entete_principal nav ul li a{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.Contenu_Principal{
	line-height: 25px; 
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}


.contenu{
	width:70%;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}



.contenuCFI{
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3% 5%;
	margin-top:2%;
}

.piedPage_principal{
	width: 100%;
	height:40px;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #666;
	margin: 2% 0;
	
}

.piedPage_principal p{
	width:92%;
	margin: 10px auto;
	color: #FFF;
}

@media only screen and (min-width: 150px) and (max-width:600px){
	.body{
		width:90%;
		font-size:95%;
	}
	
	.entete_principal nav{
		height: 240px;
	}

	.entete_principal nav ul {
		padding-left: 0
	}

	.entete_principal nav ul li {
		width: 100%;
		text-align: center;
	}

	.entete_principal nav a:link, .entete_principal nav a:visited{
		padding: 20px 25px;
		height:0px;
		display: block;
	}
	
	.Contenu_Principal{
		overflow: hidden;
	}
	
	.contenu{
		width:70%;
		float: left;
		margin-top: 2%;
	}
	
	.info_post{
		display: none;	
	}


	.contenuCFI{
		margin-top:3%;
	}

}